
.subscribe-button {
    background-color: rgb(200, 0, 0);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
    transition: opacity 150 ms;
    vertical-align: top;
}

.subscribe-button:hover {
    opacity: 0.8;
}

.subscribe-button:active {
    opacity: 0.5;
}

.join-button {
    background-color: white;
    border-color: rgb(42, 126, 204);
    border-style: solid;
    border-width: 1px;
    color:  rgb(42, 126, 204);
    padding: 8px;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 750ms,
        color 750ms;
}

.join-button:hover {
    background-color: rgb(42, 126, 204);
    color: white;
}

.join-button:active {
    background-color: rgb(42, 126, 204);
    color: white;
    opacity: 0.7;
}

.tweet-button {
    background-color:  rgb(29, 155, 240);
    color: white;
    border: none;
    padding: 8px;
    border-radius: 17px;
    cursor: pointer;
    font-size: 15px;
    margin-left: 8px;
    transition: box-shadow 150ms,
        opacity 150ms;
    vertical-align: top;
}

.tweet-button:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

.tweet-button:active {
    opacity: 0.6;
}

